name: CI workflow

on:
  push:
    branches:  
      - main
  pull_request:
    branches: 
        - main

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.9-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --no-cache-dir --upgrade pip
          pip install -r requirements.txt
          python ./service/routes.py
      - name: Run Tests (or your execution command)
        run: |
          # The fix is to add the current directory to the PYTHONPATH
          export PYTHONPATH=$PYTHONPATH:.
          
          #Replace 'python ./service/routes.py' with your actual command
          # Example: Running a test suite or entry point
          python -m unittest discover 
          # OR if you are running gunicorn:
          # gunicorn service:app    
      - name: Run app
        run: python -m serivce.routes    
      - name: Lint with flake8
        run: |
         flake8 service --count --select=E9,F63,F7,F82 --show-source --statistics

          flake8 service --count --max-complexity=10 --max-line-length=127 --statistics
      - name: Run unit tests with nose
        run: nosetests -v --with-spec --spec-color --with-coverage --cover-package=app
      - name: Run unit tests with nose
        run: nosetests -v --with-spec --spec-color --with-coverage --cover-package=app       
